<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members of Parliament</title>
  </head>

  <body>
    <h1>Bills in Parliament</h1>
    <table>
      <tr>
          <th>Bill</th>
          <th>Title</th>
          <th>Sponsor</th>
          <th>Status</th>
      </tr>
      {% for bill in bills %}
      <tr>
          <td>{{ bill.number }}</td>
          <td>{{ bill.title }}</td>
          <td>{{ bill.sponsor }}</td>
          <td>{{ bill.status }}</td>
      </tr>
      {% endfor %}
  </table>
  </body>
</html>