{% extends 'base.html' %}
{% block content %}
<div class="mx-auto ms-lg-80 ps-lg-4">
    <section class="py-6">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6 mb-8 mb-lg-0">
            <div class="d-flex align-items-center">
              <div>
                <h4>{% block title %}Members of Parliament{% endblock %}</h4>
                <p class="mb-0">Monitor key metrics, check reporting and review insights</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<section class="py-6">
    <div class="container">
      <div class="table-responsive border rounded">
        <table class="table table-bordered mb-0">
          <thead>
            <tr>
              <th scope="col">
                <button class="btn d-flex align-items-center text-uppercase"><small>NAME</small>
                </button>
              </th>
              <th scope="col">
                <button class="btn d-flex align-items-center text-uppercase"><small>PARTY</small>
                </button>
              </th>
              <th scope="col">
                <button class="btn d-flex align-items-center text-uppercase"><small>DISTRICT</small>
                </button>
              </th>
              <th scope="col">
                <button class="btn d-flex align-items-center text-uppercase"><small>PROVINCE</small>
                </button>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for member in members %}
            <tr>
              <th class="p-6" scope="row">{{ member.first_name }} {{ member.last_name }}</th>
              <td class="p-6">{{ member.party }}</td>
              <td class="p-6">{{ member.district }}</td>
              <td class="p-6">{{ member.province }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
  {% endblock %}