<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members of Parliament</title>
  </head>

  <body>
    <h1>Members of Parliament</h1>
    <table>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Party</th>
          <th>District</th>
          <th>Province</th>
      </tr>
      {% for member in members %}
      <tr>
          <td>{{ member.first_name }}</td>
          <td>{{ member.last_name }}</td>
          <td>{{ member.party }}</td>
          <td>{{ member.district }}</td>
          <td>{{ member.province }}</td>
      </tr>
      {% endfor %}
  </table>
  </body>
</html>